html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin:0;
}
#navbar{
    height:75px;
    width:100vw;
    display:flex;
    justify-content: right;
    background-color:#be3144;
    align-items: center;
    position: fixed;
}
.navbar_item{
    padding:20px 30px;
    font-size:30px;
    color:white;
}
.navbar_item:hover{
    background-color: #45567d;
    color:black;
}
a{
    text-decoration: none;
    color:white;
}
#welcome-section{
    padding-top:100px;
    height:100vh;
    width:100%;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1{
    color:white;
    font-size:40px;
}
#welcome-section p{
    font-size:25px;
    color:#be3144;
    margin-top:0;
    font-style:italic;
}
#projects{
    background-color:#45567d;
    height:800px;
}
#projects h2{
    margin-top:0;
    padding-top:20px;
    text-align: center;
    color:white;
    font-size:40px;
}
.container{
    margin:20px 0;
    display:grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,300px);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.project-tile{
    border:1px solid black;
    height:300px;
    width:300px;
    text-align: center;
}
.link{
    font-size: 20px;
    background-color:#303841;
    padding:20px 40px;
    width:80px;
    margin:10px auto;
    text-align: center;
}
#contacts{
    height:800px;
    background-color: #303841;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contacts h2{
    text-align: center;
    color:white;
    font-size:40px; 
}
.container_contacts{
    display:flex;
    justify-content: center;
}
.contacts-item{
    margin:0 20px;
    color:white;
    font-size:20px;
}
.contacts-item:hover{
    padding-top:10px;
    transition: 0.2ms;
}
@media screen and(max-width:425px){
    .container{
        grid-template-columns: repeat(3,50px);
        grid-template-rows: repeat(2,50px);
        gap: 5px;
    }
}